################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceLayerHelper/bin/Debug/net7.0/ServiceLayerHelper.dll
/ServiceLayerHelper/bin/Debug/net7.0/ServiceLayerHelper.pdb
/ServiceLayerHelper/bin/Release/net7.0/ServiceLayerHelper.dll
/ServiceLayerHelper/bin/Release/net7.0/ServiceLayerHelper.pdb
